@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: #37474f;
  background-color: #f9f9ff;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding-bottom: 30px;
}

header {
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-family: "Rubik", sans-serif;
  display: block;
  margin: 20px 0 0 40px;
  border-left: solid 7px royalblue;
  padding-left: 10px;
  font-size: 1.4rem;
}

.section,
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow:  0px 2px 5px 0px rgba(69, 67, 96, 0.1); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 8px 6px -6px black; */
}

.col,
.col-md,
.col-md-5,
.col-md-7 {
  margin-bottom: 30px;
}

.card {
  padding: 0 0 20px 0;
}

.card p {
  padding: 0 30px

}

.newsItem {
  margin: 0px 20px 10px 40px;
}

.newsItem a {
  display: inline-block;
}

#overall-info {
  min-height: 370px;
  height: fit-content;
}

#overall-info .card {
  padding-bottom: 0;
}

#overall-info .align-middle {
  display: table-cell;
}

.footnote {
  padding: 20px 15px;
  font-size: 11px;
  color: #777;
}

#map-container {
  /*min-width: 350px;*/
  min-height: 360px;
  /*margin: 0 10px 20px 10px;*/
  height: fit-content;
}

#legend {
  height: fit-content;
  padding: 0 20px 5px;
}

#legend .col-sm {
  text-align: center;
  max-width: 150px;
}

#legend #first {
  color: #ffffb2;
}
#legend #second {
  color: #fecc5c;
}
#legend #third {
  color: #fd8d3c;
}
#legend #fourth {
  color: #e31a1c;
}

#map {
  min-height: 360px;/*calc(100% - 40px);*/
  height: calc(100% - 40px);
  border: solid 1px #85929e;
  border-radius: 7px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}
#ward-chart-container {
  min-width: 350px;
  min-height: 250px;
  height: 348px;
  padding: 20px 20px 0;
}

.summary {
  margin: 15px 0;
  height: 80px;
  text-align: center;
  width: 50%
}

.summary b {
  display: block;
}

.summary .h5 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
  display: inline-block;
}

.summary .new {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

#active {
  color: #007bffe7;
}

#confirmed {
  color: #ff0739e7;
}
#recovered {
  color: #28a745e7;
}
#deaths {
  color: #6c757d;
}
#critical {
  color: #78909c;
}
#tested {
  color: #455a64;
}
#tests {
  color: #455a64;
}

.summary b {
  color: #37474f;
}

/*
#deaths .h5 {color: #37474F}
#critical .h5 {color: #78909C}
#tested .h5 {color: #138D75}
#tests .h5 {color: #4CAF50}
*/

.summary div {
  font-weight: bold;
}

.ward-info {
  min-height: 450px;
  height: fit-content;
  width: 100%;
}

#placeholder {
  text-align: center;
  font-size: 20px;
  border: dashed 1px #85929e;
  border-radius: 10px;
  margin: 0 20px;
  height: 100%;
  display: table;
  width: calc(100% - 40px);
}

.ward-info .dropdown-toggle {
  border-color: #cfd8dc;
  margin-top: 20px;
}

#placeholder span {
  display: table-cell;
  color: #999;
}

#wardHistoryChart {
  display: none;
}
